nav {
    display: flex;
    max-width: 1128px;
    margin: auto;
    padding: 12px 0 16px;
    align-items: center;
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap;



}


/* * turns to & in styled comp */
*>a {
    width: 135px;
    height: 34px;

    @media (max-width:768px) {
        padding: 0 5px;
    }

}