.header {
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header>div {
    margin: 10px;
}

.punkLogo {
    width: 200px;
}

.searchBar {
    display: flex;
    background-color: #1c1c1e;
    height: 50px;
    flex: 1;
    border-radius: 50px;
    align-items: center;
}

.searchIconContainer {
    margin: 10px;
}

.searchInput {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: #a1a5b0;
    font-size: large;
}

.headerItems {
    color: #a1a5b0;
    display: flex;
}

.headerItems>p {
    margin: 10px;
    font-size: x-large;
    cursor: pointer;
}

.headerItems>p:hover {
    color: #65feea;
}

.headerActions {
    display: flex;
    align-items: center;
}


.themeSwitchContainer {
    display: flex;
    border-radius: 50px;
    background-color: #1c1c1e;
    padding: 15px;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}


.themeSwitchContainer>img {
    cursor: pointer;
    width: 25px;
}

.loginButton {
    color: #1c1c1e;
    background: linear-gradient(to right, #59f9b7, #65feea);
    font-size: x-large;
    border-radius: 50px;
    padding: 15px 40px;
    cursor: pointer;
}