.banner {
    min-height: 448px;
    color: white;
    object-fit: contain;
}

.banner__contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner__description {
    width: 35rem;
    line-height: 1.1rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    max-width: 360px;
    height: 80px;
}

.banner__buttons {
    display: flex;
    text-align: center;


}

.banner__button__play {
    cursor: pointer;
    color: rgba(51, 51, 51, 1);
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.4vw;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(255, 255, 255, 01);
    align-items: space-around;
}

.banner__button__info {
    cursor: pointer;
    color: rgba(255, 255, 255, 01);
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.4vw;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.7);
}

.banner__button__info:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(51, 51, 51, 0.4);
    transition: all 300ms;
}

.banner__button__play:hover {
    color: rgba(51, 51, 51, 0.7);
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 300ms;
}

.banner__fadeBottom {
    height: 7.5rem;
    background-image:
        linear-gradient(180deg,
            transparent,
            rgba(45, 45, 45, 0.2),
            rgba(35, 35, 35, 0.4),
            rgba(25, 25, 25, 0.6),
            rgba(15, 15, 15, 0.8),
            rgba(1, 1, 1, 1.0));
}