.row {
    margin-left: 20px;
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;
    font-weight: lighter;

}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}


.row__poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__poster:hover {
    transform: scale(1.08);
    box-shadow: 1px 2px 10px 10px rgba(55, 55, 55, 0.5);
    opacity: 1;
}

.row__posterLarge {
    object-fit: contain;
    width: 100%;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row__posterLarge:hover {
    transform: scale(1.09);
    box-shadow: 1px 2px 10px 10px rgba(55, 55, 55, 0.5);
    opacity: .9;
}